.apropos-main{
    margin-top: 33px;
    padding: 0 125px;
}
.head-image-container img {
    object-fit: cover;
}

@media (min-width: 400px) and (max-width: 1050px) {
 .apropos-main{
    padding: 0px 35px;
 }    
}

@media (max-width: 400px){
    .apropos-main{
        margin:  20px;
        padding: 0;
    }
    .head-drop-title{
        font-size: 13px;
    }
    .bd-drop-height-apopos p{
        font-size: 12px;
        line-height: 17.11px;
    }
    .head-drop img{
        width: 9px;
        height: 16px;
    }
}