.a-propos-image {
    width: fit-content;
    height: 223px;
    object-fit: cover;
    border-radius: 25px;
    margin: 44px 100px 0px 100px;
}

.apropos-main{
    margin-top: 33px;
    padding: 0 125px;
}

