.carousel{
    height: 415px;
    width: auto;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 100px 0px 100px;
}

.homeImage {
    display: none;
    height: 415px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 25px;
}

.slider{
    position: absolute;
    background: none;
    border: none;
    margin: 0 50px;
}

.right{
    right: 100px;
}

.arrow{
    height: 79,2px;
    width: 46,68px;
}

.active{
    display: block !important;
}
.d-none{
    display: none !important;
}

@media (max-width: 400px) {
    .carousel{
        margin: 20px;
        height: 350px;
    }

    .homeImage{
        height: 335px;
    }

    .arrow {
        width: 11.6px;
        height: 19.8;
    }
    .slider {
        margin: 0 0 0 20px;
    }
    .right {
        margin-right: -55px;
    }
}