.gallery {
    background-color: #F7F7F7;
    padding: 56px 50px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin: 43px 100px 0px 100px;
}

.gallery ul {
    display: contents;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media (max-width: 400px) {
    .gallery{
        padding: 0px;
        margin: 0px;
        background-color: white;
    }
}


  
